<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title JooL
        link(rel="shortcut icon" href="/img/favicon/pelicula.ico")
        link(rel='stylesheet' href='/css/normalize.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
        link(rel='stylesheet' href='/css/style2.css')
    body(class="fondo_e")
        form(action=`/editmovie/${identificador}?_method=PUT`, method="POST" id="editform")
            label(for="titulo") Título: 
            input(type="text", name="titulo", id="editartitulo", value=Resultados[0].Title)
            label(for="year") Año: 
            input(type="text", name="year", id="editaryear", value=Resultados[0].Year)
            label(for="director") Director: 
            input(type="text", name="director", id="editardirector", value=Resultados[0].Director)
            label(for="genero") Género: 
            input(type="text", name="genero", id="editargenero", value=Resultados[0].Genre)
            label(for="duracion") Duración: 
            input(type="text", name="duracion", id="editarduracion", value=Resultados[0].Runtime)
            label(for="actores") Actores Ppales: 
            input(type="text", name="actores", id="editaractores", value=Resultados[0].Actors)
            label(for="resumen") Resumen: 
            input(type="text", name="resumen", id="editarresumen", value=Resultados[0].Plot)
            label(for="premios") Premios: 
            input(type="text", name="premios", id="editarpremios", value=Resultados[0].Awards)
            img(src=Resultados[0].Poster, alt="Poster de la película" id="editarurl")   
        form(action=`/movies`, method="GET" id="edit")
            button(type="submit", value="Guardar" id="guardar" placeholder="Guardar")
            button(onclick="window.history.go(-1)" id="cancelar" placeholder="Cancelar") 
        script(src="/js/script.js")
        

