<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title JooL
        link(rel="shortcut icon" href="/img/favicon/pelicula.ico")
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='stylesheet' href='/css/style2.css')
    body
        form(action=`/editmovie/${identificador}?_method=PUT`, method="POST" id="editform"))
            label(for="titulo") Título: 
            input(type="text", name="titulo", id="editartitulo", value=Resultados[0].Title)
            br
            label(for="year") Año: 
            input(type="text", name="year", id="editaryear", value=Resultados[0].Year)
            br
            label(for="director") Director: 
            input(type="text", name="director", id="editardirector", value=Resultados[0].Director)
            br
            label(for="genero") Género: 
            input(type="text", name="genero", id="editargenero", value=Resultados[0].Genre)
            br
            label(for="duracion") Duración: 
            input(type="text", name="duracion", id="editarduracion", value=Resultados[0].Runtime)
            br
            img(src=Resultados[0].Poster, alt="Poster de la película" id="editarurl") 
            br                                                     
            input(type="submit", value="Guardar")
        button(onclick="window.history.go(-1)") Cancelar
        script(src="/js/script.js")
        

