<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title JooL
        link(rel="shortcut icon" href="/img/favicon/pelicula.ico")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet' href='/css/normalize.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
        link(rel='stylesheet' href='/css/style2.css')
    body
        main(id="malef")
            - let i = 0; // Sacar el valor de la cookie que indique si eres admin o no
            if(i==0)
                header
                    nav.menu
                        ul.menu_items
                            li.active
                                a(href='/dashboard') Home
                            li
                                a(href='/movies') Mis Pelis
                            li
                                a(href='#') Logout
                            li
                                img(src="/img/avatar/mujerAvatar.png" class="logoD")
                        span.btn_menu.material-icons menu
                div(class="movies_user")
                    h2(class="h2_m_u") Mis Pelis Favoritas
                    div(class="campos")
                        //- - let i = 0;
                        //-  while i < Longitud
                        //-     p(class="p")=Resultados[i].Title
                        //-     p(class="p_año")=Resultados[i].Year
                        //-     - let imbd= Resultados[i].imdbID
                        //-     - let id= Resultados[i]._id
                        //-     img(src=Resultados[i++].Poster, alt='Imagen de la Película' id="Poster")
                        form(action="", method="GET" id="form_movies")
                            div(class="xx")
                                input(type="text" class="input_m_u" placeholder="Título" )
                                input(type="text"  class="input_m_u" placeholder="Año")
                                input(type="text" class="input_m_u" placeholder="Director")
                                input(type="text" class="input_m_u" placeholder="Género")
                                input(type="text" class="input_m_u" placeholder="Duración")
                            div(class="boton_m_u")
                                button(type="text", value="detalle_m_u" class="button_m_u") Saber más
                                button(type="submit", value="quitar" class="quitar") Eliminar
                    div(class="imagen_m_u")
                        img(src="", alt="" class="foto")
                             
            else
                form(action='/createmovie/' method="GET")   
                    button(type="submit", value="Crear nueva película" id="crear") Crear nueva película
                div(class="favoritas")
                    h1 Mis Pelis Almacenadas
                    - let i = 0;
                            while i < Longitud
                                div(class=`pelicula`)
                                    - let id = identificador[i]
                                    h6=Resultados[i++].Title
                                    div(class="btn_form_m")
                                        form(action=`/editmovie/${id}` , method="GET", id=`editar${i}`)
                                            button(type="submit", value="Editar" class="btn_movies") E
                                        form(action=`/removeMovie/${id}?_method=DELETE`, method="POST", id=`eliminar${i}`, class="eliminar")
                                            button(type="submit", value="X" class="btn_movies") X   
        button(onclick="window.history.go(-1)" class="button-go") BACK
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js')
    script(src='/js/autenticacion.js')
    script(src="/js/script.js")


  
  
        