<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title JooL
        link(rel="shortcut icon" href="/img/favicon/pelicula.ico")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='stylesheet' href='/css/style2.css')
    body
        header
            nav.menu
                label.logo MoviApp
                ul.menu_items
                    li
                        a(href='/dashboard') Home
                    li
                        a(href='/movies') Mis Pelis
                    li
                        a(href='#') Logout
                    li
                        img(src="/img/avatar/mujerAvatar.png" class="logoD")
                span.btn_menu.material-icons menu
            input(type="submit", value="Crear nueva película")
        h1 Películas Almacenadas Localmente:
        - let i = 0;
                while i < Longitud
                    div(class=`pelicula`)
                        - let id = identificador[i]
                        h2=Resultados[i++].Title
                        form(action=`/editmovie/${id}` , method="GET", id=`editar${i}`)
                            input(type="submit", value="Editar")
                        form(action=`/removeMovie/${id}?_method=DELETE`, method="POST", id=`eliminar${i}`, class="eliminar")
                            input(type="submit", value="X")                    
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js')
    script(src='/js/autenticacion.js')
    script(src="/js/script.js")


  
  
        