<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title Movies
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header
            nav.menu
                label.logo MoviApp
                ul.menu_items
                    li.active
                        a(href='#') Home
                        
                    li
                        a(href='#') Mis Pelis
                    li
                        a(href='#') Avatar
                    li
                        a(href='#') Logout
                span.btn_menu.material-icons menu
        form(action=`/createmovie`, method="GET", id="nueva")
            input(type="submit", value="Crear nueva película")
        form(action="/logout", method="POST")
            input(type="submit", value="logout", id="logout")
        h1 Películas Almacenadas Localmente:
        - let i = 0;
                while i < Longitud
                    div(class=`pelicula`)
                        - let id = identificador[i]
                        h2=Resultados[i++].Title
                        form(action=`/editmovie/${id}` , method="GET", id=`editar${i}`)
                            input(type="submit", value="Editar")
                        form(action=`/removeMovie/${id}?_method=DELETE`, method="POST", id=`eliminar${i}`, class="eliminar")
                            input(type="submit", value="X")                    
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js')
    script(src='/js/autenticacion.js')
    script(src="/js/script.js")

  
  
        