<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Search Movie
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/normalize.css")
    body
        header
            form(class="formulario" action="./search", method="POST")
                input(id="peli" class="cuadro" type="text" name="pelicula" placeholder="Introducir Película")
                input(id="buscador" class="cuadro" type="submit", value=" Buscar ")
        section
            div(id="peliculas")
                - let i = 0;
                while i < Longitud
                    div(class=`pelicula`)
                        h1=Resultados[i].Title
                        h2=Resultados[i].Year
                        - let imbd= Resultados[i].imdbID
                        img(src=Resultados[i++].Poster, alt="Imagen de la Película")
                        br
                        br
                        form(action=`/searchdetails/${imbd}` , method="GET", id="detalles")
                            input(type="submit", value="Detalles")
                        br
                        form(action="", method="POST" id="favoritos")
                            input(type="submit" value="Añadir a Favoritos")
                h1=Nofound
        article
                .hamburger
                    ._layer.-top
                    ._layer.-mid
                    ._layer.-bottom
                nav.menuppal
                    ul
                        li
                            img(id="avatar" src="/img/avatar/mujerAvatar.png")
                        li 
                                
                        li
                            a(href='/views_pug/dashboard.pug') Home
                        li
                            a(href='/views_pug/movies.pug') Mis pelis
                        li
                            button(style="display:none" onclick="signout()" id="signout") logout
        script(src='/js/autenticacion.js')
                        

