<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title JooL
        link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
        link(rel="shortcut icon" href="/img/favicon/pelicula.ico")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='stylesheet' href='/css/style2.css')
    body
        main(id="fondo")
            header
                nav.menu
                    ul.menu_items
                        li.active
                            a(href='/dashboard') Home
                        li
                            a(href='/movies') Mis Pelis
                        li
                            a(href='#') Logout
                        li
                            img(src="/img/avatar/mujerAvatar.png" class="logoD")
                    span.btn_menu.material-icons menu
            section
                div(id='peliculas_search')
                    h1=Nofound 
                        img(src="/img/iconosVarios/unicornio.png" alt="unicornio enfadao" id="unicornio")
                    - let i = 0;
                    while i < Longitud
                            p(class="p")=Resultados[i].Title
                            p(class="p_año")=Resultados[i].Year
                            - let imbd= Resultados[i].imdbID
                            - let id= Resultados[i]._id
                            img(src=Resultados[i++].Poster, alt='Imagen de la Película' id="Poster")
                            div(id="btn_detalles")
                                if(imbd == null) 
                                    form(action=`/searchdetails/${id}` , method="GET", id="detallesMongo") 
                                    input(type="submit", value="Detalles")
                                if(imbd != null)
                                    form(action=`/searchdetails/${imbd}` , method="GET", id="detallesApi")
                                        input(type="submit", value="Saber más" id="detalles")
                                    br
                                    form(action="", method="POST" id="favoritos")
                                        button(type="submit" value="Añadir a Favoritos" id="btn_fav")
                                            img(src="/img/iconosVarios/favorito.png" id="fav")
                    
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js')
    script(src='/js/autenticacion.js')
    script(defer, src='/js/script.js')


   
