<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        title Search Movie
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header
            nav.menu
                label.logo MoviApp
                ul.menu_items
                    li.active
                        a(href='/dashboard') Home
                    li
                        a(href='/movies') Mis Pelis
                    li
                        a(href='#') Logout
                    li
                        img(src="/img/avatar/mujerAvatar.png" class="logoD")
                span.btn_menu.material-icons menu
        section               // añadido id
            form(id='formularioS' action='./search', method='POST') 
                input(id='peli' class='cuadro' type='text' name='pelicula' placeholder='Introducir Película')
                input(id='buscador' class='cuadro' type='submit', value=' Buscar ')
        section
            div(id='peliculas')
                - let i = 0;
                while i < Longitud
                    div(class=`pelicula`)
                        h1=Resultados[i].Title
                        h2=Resultados[i].Year
                        - let imbd= Resultados[i].imdbID
                        img(src=Resultados[i++].Poster, alt='Imagen de la Película' id="Poster")
                        br
                        if(imbd == null)
                            h2=Resultados[0].Genre
                            h2=Resultados[0].Director
                            h2=Resultados[0].Runtime
                        br
                        if(imbd != null)
                            form(action=`/searchdetails/${imbd}` , method="GET", id="detalles")
                                input(type="submit", value="Detalles")
                        br
                        form(action="", method="POST" id="favoritos")
                            input(type="submit" value="Añadir a Favoritos")
                h1=Nofound   
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.2.4/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js')
    script(src='/js/autenticacion.js')
    script(defer, src='/js/script.js')
//- script(defer, src='/js/script2.js')
        
   

