<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Search Details
        link(rel="stylesheet" href="/public/css/style.css")
        link(rel="stylesheet" href="/public/css/normalize.css")
    body
        h1=Details.Title
        h2=Details.Year
        h3=Details.Writer
        h3=Details.Director
        h3=Details.Actors
        h3=Details.Plot
        h3=Details.Awards
        img(src=Details.Poster, alt="Imagen de la Película específica")
      main
            article
                .hamburger
                    ._layer.-top
                    ._layer.-mid
                    ._layer.-bottom
                nav.menuppal
                    ul
                        li
                            img(id="avatar" src="/img/avatar/mujerAvatar.png")
                        li 
                                
                        li
                            a(href='/views_pug/dashboard.pug') Home
                        li
                            a(href='/views_pug/movies.pug') Mis pelis
                        li
                           button(style="display:none" onclick="signout()" id="signout") logout
    script(src='/js/autenticacion.js')


         

        